<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
    <th th:text="#{employee.list}"></th>
    <p>------------------</p>
    <table>
        <tr>
            <th th:text="#{employee.id}"></th>
            <th th:text="#{employee.name}"></th>
            <th th:text="#{employee.age}"></th>
            <th th:text="#{employee.type}"></th>
        </tr>

    <tr th:each="emp : ${employees}">
        <th th:text="${emp.id}" ></th>
        <th th:text="${emp.name}"></th>
        <th th:text="${emp.age}"></th>
        <th th:if="${emp.age &gt;=45}" th:text="#{employee.old}"></th>
        <th th:if="${emp.age &lt;45 and emp.age &gt;=25}" th:text="#{employee.medium}"></th>
        <th th:if="${emp.age &lt;25 }" th:text="#{employee.young}"></th>
    </tr>
    </table>
    <form th:action="@{/employees}" method="post">
        <input name="name" type="text" value="" />
        <input name="age" type="text" value="" />
        <input type="submit" th:value="taomoi"/>
    </form>
</body>
</html>